@import "./components";

@include mobile{
    .sidemenu-wrapper{
        background-color: #3333338e;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: none;
        transition: 0.5s ease-out;
    
        .side{
            position: absolute;
            top: 0;
            right: 0;
            background-color: $dark;
            height: 100%;
            width: 360px;
            padding: 25px;
    
            h3{
                color: $white;
                text-align: center;
                font-weight: normal;
                padding: 20px 0;
                font-size: 33px;
                letter-spacing: 3px;
            }
    
            .links{
                padding: 25px 0;
                text-align: center;
    
                a{
                    color: $white;
                    display: block;
                    text-decoration: none;
                    font-size: 23px;
                    margin: 40px 0;
                    padding: 5px;
                    font-weight: lighter;
                    letter-spacing: 3px;
    
                    &:hover{
                        background-color: #ffffff;
                        color: #3F3D56;
                    }
                }
            }
    
        }
    }
}